- name: Build and push multi-arch Docker image
  uses: docker/build-push-action@v5
  with:
    context: .
    file: ./Dockerfile.build
    push: true
    platforms: linux/amd64,linux/arm64
    tags: |
      ghcr.io/iamzoy/minio:${{ steps.get_tag.outputs.TAG }}
      ghcr.io/iamzoy/minio:latest
    build-args: |
      RELEASE_TAG=${{ steps.get_tag.outputs.TAG }}
      COMMIT_ID=${{ steps.git_info.outputs.COMMIT_ID }}
      SHORT_COMMIT_ID=${{ steps.git_info.outputs.SHORT_COMMIT_ID }}
